/*font-family: 'Montserrat', sans-serif;*/
* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    box-sizing: border-box;
  }

.none {
	display: none !important;
}

   .header {
    position: absolute;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    padding: 28px 0;
    margin: 0;
   }

.header-container {
 display: flex;
  justify-content: space-around;  
}

ul {
	list-style: none;
}

.container {
    max-width: 1400px;
    padding: 0 100px;
    margin: 0 auto;
    background-color: #efe6e4;
}

.nav-list {
   display: flex;
    justify-content: space-around;
    margin: 0;
}

.nav-item {
margin: 0 20px;
}

.header-logo {
    display: inline;
}

.top {
    display: inline-block;
    background: url(https://i.ibb.co/HHJqs2w/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 2000px;
    width: 100%;
}

    a, h1, h2, h3, p {
        color: #533738;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    input:hover {
        border: 2px solid #f16828;
    }

    h1 {
        font-size: 45px;
        font-weight: 800;
        margin-left: 150px;
        }

.top-section {
    margin-left: 150px;
        margin-top: 180px;
        margin-bottom: 50px;
}

    .header-text {
        margin-left: 150px;
        margin-bottom: 20px;
        margin-top: 30px;
        line-height: 30px;
    }

    .header-button {
        margin-left: 150px;
        margin-top: 20px;
        background-color: #cc8b86;
        width: 309px;
        height: 74px;
        border: none;
        font-size: 20px;
        color: #533738;
    }

.about {
        background-color: #efe6e4;
        display: flex;
}

.about-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    font-weight: 400;
    height: 100px;
    background-color: #efe6e4;
}   

.about-image {
    margin: 50px 50px 10px 40px;
}

.about-text {
    margin-top: 50px;
    width: 530px;
    line-height: 30px;;
}

.about2 {
    display: block;
    margin-top: 20px;
}

.cheers {
    background-color: #8D7370;
    height: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cheer-item {
    font-size: 30px;
    color: #efe6e4;
    text-align: center;
}

.works-top {
    height: 150px;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: lighter;
}

.workimg1 {
	width: 488px;
	height: 451px;
	margin-bottom: 30px;
	position: relative;
}

.workimg2 {
	width: 670px;
	height: 451px;
	margin-bottom: 30px;
	margin-left: 20px;
}

.workimg3 {
	width: 672px;
	height: 451px;
	margin-right: 20px;
}

.workimg4 {
	width: 488px;
	height: 451px;
	margin-bottom: 40px;
}

.works-hover {
	position: relative;
	top: 0;
	left: 0;
	width: 488px;
}

.workimg-hover {
	position: absolute;
	left: 0;
}

.works-section {
	display: flex;
	flex-wrap: wrap;
}

.workimg-hover {
	opacity: 0;
}

.workimg-hover:hover {
	opacity: 0.8;
}

.works-view {
	display: flex;
	align-items: center;
	width: 295px;
	margin: 0 auto;
	margin-bottom: 65px;
}

.works-view p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 37px;
	color: #533738;
	margin-right: 10px;
}

.container-med {
	max-width: 1400px;
    margin: 0 auto;
    background-color: #E2C4BA;
		padding-top: 50px;
}

.container-med h2 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 40px;
	line-height: 50px;
	text-transform: uppercase;
	color: #533738;
display: flex;
    justify-content: space-around;
    align-items: center;
	margin-bottom: 40px;
}

.team {
	display: flex;
	justify-content: space-between;
	width: 1040px;
	margin: 0 auto;
}

.team-item {
	width: 320px;
}

.team-item img {
	padding-bottom: 10px;
}

.team-item p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #533738;
	margin-bottom: 35px;
}

.wework {
	display: flex;
	justify-content: space-between;
	width: 1200px;
	margin: 0 auto;
}

.wework-item {
	width: 280px;
	text-align: center;
	margin-bottom: 80px;
}

.wework-item p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #533738;
}

.narrow {
	margin: 0 auto;
	width: 1036px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
	padding-bottom: 45px;
}

.feed-header {
	display: flex;
  justify-content: space-around;
  align-items: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 40px;
	line-height: 50px;
	text-transform: uppercase;
	color: #533738;
	padding-top: 65px;
}

.feed-text {
	width: 410px;
}

.feed-text p {
	margin-bottom: 20px;
}

.feed-foto {
	width: 407px;
}

.feed-foto img {
	margin-bottom: 20px;
}

.container-dark {
	  max-width: 1400px;
    margin: 0 auto;
    background-color: #533738;
	margin: 0 auto;
}

.dark-inner {
	width: 1036px;
	display: flex;
	margin: 0 auto;
}

.dark-poll {
	width: 507px;
	margin-top: 50px;
	margin-right: 20px;
}

.dark-poll h2 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 100;
	font-size: 40px;
	line-height: 50px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 24px;
}

.dark-poll p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #FFFFFF;
	opacity: 0.6;
	margin-bottom: 44px;
}

form {
	display: flex;
	flex-direction: column;
}

input {
	margin-bottom: 30px;
	border: 3px solid rgba(255, 255, 255, 0);
	background-color: #533738;
	border-bottom: 1px solid #F6EDE9;
}

input::placeholder {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #F6EDE9;
}

form button {
	width: 310px;
	height: 74px;
	background-color: #CC8B86;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #533738;
}

.footer-inner {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
}

.footer-contact {
	display: flex;
}

.footer-contact p {
	margin-right: 42px;
}
