/*font-family: 'Montserrat', sans-serif;*/
* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    box-sizing: border-box;
  }

   .header {
    position: absolute;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    padding: 28px 0;
    margin: 0;
   }

.header-container {
 display: flex;
  justify-content: space-around;  
}

.container {
    max-width: 1400px;
    padding: 0 100px;
    margin: 0 auto;
    background-color: #efe6e4;
}

.nav-list {
   display: flex;
    justify-content: space-around;
    margin: 0;
}

.nav-item {
margin: 0 20px;
}

.header-logo {
    display: inline;
}

.top {
    display: inline-block;
    background: url(https://i.ibb.co/HHJqs2w/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 2000px;
    width: 100%;
}

    a, h1, h2, h3, p {
        color: #533738;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    input:hover {
        border: 2px solid #f16828;
    }

    h1 {
        font-size: 45px;
        font-weight: 800;
        margin-left: 150px;
        }

.top-section {
    margin-left: 150px;
        margin-top: 180px;
        margin-bottom: 50px;
}

    .header-text {
        margin-left: 150px;
        margin-bottom: 20px;
        margin-top: 30px;
        line-height: 30px;
    }

    .header-button {
        margin-left: 150px;
        margin-top: 20px;
        background-color: #cc8b86;
        width: 309px;
        height: 74px;
        border: none;
        font-size: 20px;
        color: #533738;
    }

.about {
        background-color: #efe6e4;
        display: flex;
}

.about-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    font-weight: 400;
    height: 100px;
    background-color: #efe6e4;
}   

.about-image {
    margin: 50px 50px 10px 40px;
}

.about-text {
    margin-top: 50px;
    width: 530px;
    line-height: 30px;;
}

.about2 {
    display: block;
    margin-top: 20px;
}

.cheers {
    background-color: #8D7370;
    height: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cheer-item {
    font-size: 30px;
    color: #efe6e4;
    text-align: center;
}

.works-top {
    height: 150px;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: lighter;
}

.workimg1 {
	width: 488px;
	height: 451px;
	margin-bottom: 30px;
	position: relative;
}

.workimg2 {
	width: 670px;
	height: 451px;
	margin-bottom: 30px;
	margin-left: 20px;
}

.workimg3 {
	width: 672px;
	height: 451px;
	margin-right: 20px;
}

.workimg4 {
	width: 488px;
	height: 451px;
	margin-bottom: 40px;
}

.works-hover {
	position: relative;
	top: 0;
	left: 0;
	width: 488px;
}

.workimg-hover {
	position: absolute;
	left: 0;
	top: -5px;
}

.works-section {
	display: flex;
	flex-wrap: wrap;
}

.workimg-hover {
	opacity: 0;
}

.workimg-hover:hover {
	opacity: 0.8;
}

.works-view {
	display: flex;
	align-items: center;
	width: 295px;
	margin: 0 auto;
	margin-bottom: 65px;
}

.works-view p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 37px;
	color: #533738;
	margin-right: 10px;
}

.container-med {
	max-width: 1400px;
    margin: 0 auto;
    background-color: #E2C4BA;
		padding-top: 50px;
	position: relative;
}

.container-med h2 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 40px;
	line-height: 50px;
	text-transform: uppercase;
	color: #533738;
display: flex;
    justify-content: space-around;
    align-items: center;
	margin-bottom: 40px;
}

.team {
	position: inherit;
	display: flex;
	justify-content: space-between;
	width: 1200px;
	margin: 0 auto;
}

.team-item {
	width: 320px;
}
